.inputBuscar{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10%;
    box-sizing: border-box;
    margin: 10px;
}
.btnAgregar{
    background-color: #f60;
    color: antiquewhite;
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10%;
    box-sizing: border-box;
    margin: 10px;
}